[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "transplantr"]
	path = transplantr
	url = https://github.com/johnasher/transplantr
